 .navbar {
    background: var(--white);
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    box-shadow: var(--shadow);
    z-index: 90;
    height: 50px;
  }
  .navbar .container {
    display: flex ;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .navbar .container .logo {
    cursor: pointer;
    display: flex;
    align-items: flex-end;
  }
 
  .navbar .container .logo .icon {
    color: var(--main-color);
    font-size: 30px;
  }
  .navbar .container .logo span {
    color: grey;
    font-weight: bolder;
  }
  .navbar .container .link {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .container .signing .bars {
    display: none;
    
  }
  .navbar .container .link ul {
    display: flex;
    align-items: center;
    list-style: none;
  }
  .navbar .container .link ul li a {
    margin: 0 8px;
    padding: 0 3px;
    text-decoration: none;
    color: var(--grey);
    font-size: 14px;
    display: inline-block;
    padding-bottom: 1px;
    border-bottom: 2px solid transparent;
  }

  .navbar .container .link ul li a:hover,
  .navbar .container .link ul li a.active {
     border-color: var(--main-color);
     color: var(--main-color);
  }

  .signing button {
    border: .1em solid var(--main-color);
    padding: 8px 10px;
    background: transparent;
    margin-left: 5px;
    cursor: pointer;
    border-radius: var(--border);
    width: 70px;
    color: var(--main-color);
  }

  .signing button:nth-child(1):hover,
  .signing button:nth-child(2) {
    background-color: var(--main-color);
    color: #FFF;
  }
  @media (max-width: 700px) {
    .navbar .container .signing {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar .container .signing .bars {
      display: block;
      font-size: 35px;
      color: var(--main-color);
      cursor: pointer;
      border: .1px solid var(--main-color);
      padding: 1px;
      border-radius: 4px;
      margin-left: 10px;
    }

    .navbar .container .link ul.hide,
    .navbar .container .link ul.show {
      display: block;
      position: absolute;
      top: 47px;
      right: 0;
      height: 0;
      overflow: hidden;
      width: 100%;
      background-color: #FFF;
    }

    .navbar .container .link ul.show {
      height: 100vh;
    }

    .navbar .container .link  li {
      display: block;
      padding: 10px 1px;
      width: 100%;
      font-size: 20px;
    }
    
  }