.footer {
    background-color: #f4f4f4;
 padding-top: 50px;
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 50px;
    
}

.footer .container .logo {
    cursor: pointer;
    display: flex;
    align-items: flex-end;
  }
 
.footer .container .logo .icon {
    color: var(--main-color);
    font-size: 30px;
  }
.footer .container .logo span {
    color: grey;
    font-weight: bolder;
  }

.footer .container .logo-section p{
    color: var(--grey);
    font-size: 13px;
    margin: 13px 0;
}

.footer .container .logo-section .copy-right {
    color: var(--grey);
    font-size: 13px;
    padding-top: 10px;
}

.footer .container .links-section .icons {
    margin-top: 10px;
}

.footer .container .links-section .icons .icon{
    padding-right: 10px;
    font-size: 27px;
    color: var(--main-color);
    cursor: pointer;
}

.footer .container .links-section ul li {
    list-style: none;

}

.footer .container .links-section ul li a {
    color: var(--grey);
    text-decoration: none;
    font-size: 13px;
}

.footer .container .links-section ul li a:hover {
    color: var(--main-color);
}

.footer .container .contact h3 {
    margin-bottom: 10px;
}

.footer .container h3 {
    color: var(--grey);
    font-size: 16px;
}

.footer .container .contact  p{
    color: var(--grey);
    font-size: 13px;
}

.footer .container .contact form {
    display: flex;align-items: center;
    height: 50px;
    width: 100%;
    padding: 3px;
    border: .1px solid var(--main-color);
    border-radius: var(--border);
    margin-top: 30px;
}

.footer .container .contact form input {
    height: 100%;
    width: 70%;
    outline: none;
    border: none;
    background-color: transparent;
    padding-left: 8px;
}

.footer .container .contact form button {
    width: 30%;
    height: 100%;
    border-radius: var(--border);
    color: var(--white);
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
}

.footer .container .contact form button:hover {
    background-color: rgb(2, 73, 155);
    
}



.footer .container .pay > p {
    font-size: 13px;
    color: var(--grey);
}

.footer .container .pay h4 {
    color: var(--grey);
    margin: 10px 0;
}

.footer .container .pay .links a {
    display: inline-block;
    width: 40px;
    overflow: hidden;
    margin-right: 5px;
}

.footer .container .pay .links a img {
    width: 100%;
    /* filter: grayscale(100%); */
}